<h1>Confirmación de email</h1>

<p>
    Para confirmar el email pulsa sobre este enlace. <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar email.</a>.
    El enlace caduca en 1 hora. {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
