<form method="post" action="{{ path('app_categorias_delete', {'id': categoria.id}) }}" onsubmit="return confirm('¿Estás seguro de borrar la categoría?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categoria.id) }}">
    <button class="btn delete" style="margin-left:1.4rem;">Borrar</button>
</form>
