<form method="post" action="{{ path('app_pedidos_delete', {'id': pedido.id}) }}" onsubmit="return confirm('¿Estás seguro de borrar el pedido?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pedido.id) }}">
    <button class="btn delete">Delete</button>
</form>
