<form method="post" action="{{ path('app_pedidosproductos_delete', {'id': pedidosproducto.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pedidosproducto.id) }}">
    <button class="btn" style="margin-left:1.4rem;">Delete</button>
</form>
